h1 Add User
form(action="/add" method="post")
    div 
        label(for="name") Enter Your Name 
        input(id="name" type="text" name="first")
    br
    div 
        label(for="surname") Enter Your Surname 
        input(id="surname" type="text" name="last")
    br
    button(type="submit") Save Your Data
